<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--TOP UP-->
    <script>
    $(document).ready(function() {
      var currentDate = new Date();
      var currentDay = currentDate.getDate();
      var currentMonth = currentDate.getMonth();
      var currentYear = currentDate.getFullYear();
      var months = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"];

      // get selected day, month, and year from url
      var url = window.location.href;
      var parts = url.split("/");
      if (parts.length > 4) {
        currentDay = parseInt(parts[parts.length - 3]);
        currentMonth = parseInt(parts[parts.length - 2]) - 1;
        currentYear = parseInt(parts[parts.length - 1]);
      }

function renderCalendar(month, year) {
  var firstDay = new Date(year, month, 1);
  var lastDay = new Date(year, month + 1, 0);
  var daysInMonth = lastDay.getDate();
  var weekDayOfFirst = firstDay.getDay();
  var calendarBody = $("#calendar-days");
  calendarBody.empty();

  $("#month").text(months[month] + " " + year);

  var row = $("<tr>");
  for (var i = 0; i < weekDayOfFirst; i++) {
    var cell = $("<td>");
    row.append(cell);
  }

  for (var i = 1; i <= daysInMonth; i++) {
    if (i % 7 === 1) {
      calendarBody.append(row);
      row = $("<tr>");
    }

    var cell = $("<td>").text(i);
    // check if this is the selected date
    if (i === currentDay && month === currentMonth && year === currentYear) {
      cell.addClass("selected");
    }

    cell.click(function() {
      $('.selected').removeClass('selected');
      $(this).addClass('selected');
      currentDay = $(this).text();
      currentMonth = month;
      currentYear = year;
      var selectedDate = {
        day: currentDay,
        month: currentMonth,
        year: currentYear
      };
      localStorage.setItem("selectedDate", JSON.stringify(selectedDate));
      var url = "/date/"+ currentDay + '/' + (currentMonth + 1) + '/' + currentYear;
      window.location.href = url;
    });
    row.append(cell);
  }

  calendarBody.append(row);

    $.get("/get-events", { month: month, year: year }, function(data) {
        var events = data;
        for (var i = 0; i < events.length; i++) {
            var eventDate = new Date(events[i][1]);
            if (eventDate.getMonth() === month && eventDate.getFullYear() === year) {
            var eventDay = eventDate.getDate();
            var eventCell = $("#calendar-days td").filter(function() {
              return $(this).text() == eventDay;
            });
            eventCell.addClass("event");
          }
        }
      });
}
      $("#prev-month").click(function() {
        if (currentMonth === 0) {
          currentMonth = 11;
          currentYear--;
        } else {
          currentMonth--;
        }
        currentDay = null;
        renderCalendar(currentMonth, currentYear);
      });

      $("#next-month").click(function() {
        if (currentMonth === 11) {
          currentMonth = 0;
          currentYear++;
        } else {
          currentMonth++;
        }
        currentDay = null;
        renderCalendar(currentMonth, currentYear);
      });

      renderCalendar(currentMonth, currentYear);
    });
    </script>
    <title>Date</title>
</head>
<body>
    <header>
            <nav>
                <div>
                    <form method="POST" action="/start" style="text-align: initial">
                        <button type="submit" class="back-btn header-right" style="background-color: white">
                            <i class="fas fa-arrow-left icon-size"></i>
                        </button>
                    </form>
                </div>
            </nav>
            <nav>
                <h1 style="color: black">Agenda </h1>
            </nav>
            <nav>
                <div>
                    <form method="POST" action="/settings" style="text-align: end">
                        <button type="submit" class="account-btn header-right" style="background-color: white">
                            <i class="fas fa-user-circle icon-size"></i>
                        </button>
                    </form>
                </div>
            </nav>
        </header>
    <table align="center">
        <tr>
            <th>
            <button id="prev-month"><<</button>
            </th>
            <th>
                <form>
                    <button type="submit" style="background-color: black"><a style="color: white"><div id="month"></div></a></button>
                </form>
            </th>
            <th>
            <button id="next-month">>></button>
            </th>
        </tr>
    </table>
    <div id="calendar" align="center">
      <table id="calendar-body" style="background-color: white">
        <thead>
          <tr>
            <th>D</th>
            <th>S</th>
            <th>T</th>
            <th>Q</th>
            <th>Q</th>
            <th>S</th>
            <th>S</th>
          </tr>
        </thead>
        <tbody id="calendar-days"></tbody>
      </table>
    </div>
    <div class="eventos" align="center">
    <h2>Eventos do dia {{ day }}/{{ month }}/{{ year }}</h2>
    <br>
    <table>
        <thead>
        <tr>
            <th>Título</th>
            <th>Data e hora</th>
            <th>Descrição</th>
        </tr>
        </thead>
    <tbody>
            {%for evento in eventos%}
              <tr>
                <td>{{ evento[0] }}</td><td>{{ evento[1] }}</td><td>{{ evento[2] }}</td>
              </tr>
            {%endfor%}
    </tbody>
    </table>
    </div>
</body>
</html>