<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/main.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Sua conta</title>
</head>

<body>
    <header>
            <nav>
                <div>
                    <form method="POST" action="/start" style="text-align: initial">
                        <button type="submit" class="back-btn header-right" style="background-color: white">
                            <i class="fas fa-arrow-left icon-size"></i>
                        </button>
                    </form>
                </div>
            </nav>
            <nav>
                <h1 style="color: black">Agenda </h1>
            </nav>
            <nav>
                <div>
                    <form method="POST" action="/settings" style="text-align: end">
                        <button type="submit" class="account-btn header-right" style="background-color: white">
                            <i class="fas fa-user-circle icon-size"></i>
                        </button>
                    </form>
                </div>
            </nav>
        </header>
    <form>
        <button type="submit" style="background-color: black"><a style="color: white">Usuário</a></button>
    </form>
    <br>
    <form method="POST" action="{{ url_for('settings') }}">
        {{ form.hidden_tag() }}
        {{ form.email(class="form-control") }}
        <br><br>
        {{ form.password(class="form-control") }}
        <br><br>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    <br>
    <form action="/delete">
        <button type="submit" style="background-color: black"><a style="color: white">Excluir conta</a></button>
    </form>
    <br>
    <form action="/logout">
        <button type="submit" style="background-color: black"><a style="color: white">Deslogar</a></button>
    </form>
</body>

</html>